html, body {
    width: 100%;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
canvas {
    border: 8px solid #aeaeae;
}

h2 {
    position: absolute;
    top: 3%;
    left: 3%;
    font-family: monospace;
}